.navbar {
  background-color: #f1f1f1;
}
.sign-up {
  border: 1.5px solid #5243ac;
  border-radius: 54px;
  color: #5243ac;
  padding: 4px 30px 4px 30px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Cabin", sans-serif;
  transition: 0.5s ease-in-out;
}
.sign-up:hover {
  background-color: #5243ac;
  color: #fff;
}

.site-name {
  line-height: 38.16px;
  font-weight: 800;
  font-size: 24px;
  color: #341949;
  font-family: "Inter", sans-serif;
}
.mobile {
  display: none;
}
@media (max-width: 900px) {
  .sign-up {
    display: none;
  }
  .mobile {
    display: block;
  }
  .site-name {
    font-size: 18px;
  }
}
